@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/*
 * Override default font-family above
 * with CSS properties for the .font-serif utility.
 */
@layer base {
  html {
    @apply font-mono;
  }

  [data-theme='hotdog'] {
    --background-color: rgb(255, 0, 0);
    --main-text-color: rgb(255, 230, 0);
    --primary-color: rgb(0 0 0);
    --secondary-text-color: rgb(255 255 255);
  }
  [data-theme='light'] {
    --background-color: rgb(255 255 255);
    --main-text-color: rgb(31 41 55);
    --primary-color: rgb(45 212 191);
    --secondary-text-color: #6b7280;
  }
  [data-theme='dark'] {
    --background-color: rgb(31 41 55);
    --main-text-color: rgb(255 255 255);
    --primary-color: rgb(45 212 191);
    --secondary-text-color: rgb(156 163 175);
  }
}
